*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: wheat;
}
body{
    margin: 0 100px;
    background-color: wheat;
}
/*-------MENU-------*/
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.nav .logo h1{
    font-weight: 600;
    font-family: system-ui;
    color: black;
}
.nav .logo b{
    color: #ff511c;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}
/*-------ACTIVE-------*/
.nav ul .active::before{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}
/*-------INPUT-------*/
input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5;
}
.login{
    background: transparent;
    border: none;
}
.singup{
    background-color: #ff511c;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}