<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admins.component.css">


    <title>Document</title>
</head>
<body>
    <section class="menu">
        <div class="nav">
          <div class="logo"><h1>Fast<b>Food</b>Delivery</h1></div>
          <ul>
            <li><a routerLink="/home-page"><span>Home</span></a></li>
            <li><a routerLink="/restaurants"><span>Restaurants</span></a></li>
            <li><a routerLink="/top-sellers"><span>Top-Sellers</span></a></li>
            <li><a routerLink="/admins"><span>About Us</span></a></li>
          </ul>
          <div>
            <a routerLink="/login"><input class="login" type="submit" value="Log In" name="login"></a>
            <input class="singup" type="submit" value="Sing Up" name="singup">
          </div>
        </div>
      </section>
      <div class="his">
        <p>Welcome to our fast food delivery site! We are dedicated to providing our customers with delicious and convenient meals that can be enjoyed anytime, anywhere. <br>

          At our site, we understand that people today are busy and are always on the go. That's why we offer a wide range of menu options that are not only tasty but also easy to order and delivered right to your doorstep. <br>
          
          Our team of experienced chefs uses only the freshest and highest quality ingredients to prepare your meals. We take pride in our commitment to using fresh produce and sourcing our ingredients locally whenever possible. <br>
          
          We believe in making your life easier, which is why we offer a simple and user-friendly website and mobile app that makes ordering food a breeze. Our delivery service is fast, reliable, and efficient, ensuring that your food arrives at your door hot and fresh. <br>
          
          We value our customers and are committed to providing exceptional service. If you have any questions, comments, or feedback, please don't hesitate to contact us. Our team is always ready to assist you in any way we can. <br>
          
          Thank you for choosing our fast food delivery site. We look forward to serving you! <br></p>
        <img src="/assets/aa1.png" alt="">
        <p></p>
      </div>
    <footer>
        <ol>
            <li>
                <a href="https://t.me/ab1lda_m"><h2>Muktarkhan Abilda</h2></a>
            </li>
            <li>
                <a href="https://t.me/m3ru3rt_zh"><h2>Zhaksylykova Meruert</h2></a>
            </li>
            <li>
                <a href="https://t.me/Zhadik1"><h2>Abdugappar Zhadiger</h2></a>
            </li>
        </ol>
    </footer>
</body>
</html>